* {
  box-sizing: border-box;
}

.col-parent {
  width: 50%;
  float: left;
  padding: 1em;
}
.col-child {
  float: left;
}
.col-child-left {
  width: 55%;
  margin-right: 5%;
}
.col-child-right {
  width: 40%;
}