* {
  box-sizing: border-box;
}

body {
  max-width: 297mm;
  max-height: 210mm;
  margin: auto;
}

.col-parent {
  width: 50%;
  height: 100%;
  float: left;
  padding: 1em;
}

.col-parent-1 {

}

.col-child {
  float: left;
  width: 100%;
}
.col-child-left {
  width: 50%;
}
.col-child-right {
  width: 50%;
  padding-left: 2em;
}

.centered-column {
  padding: 0;
  .order-title { text-align: center; }
  ul {
    width: 75%;
    margin: auto;
  }
}

.centered-column-2 {
  padding-left: 2em;
}