body {
  font-family: verdana;
  font-size: 14px;
}

.order-title {
  font-family: 'Rancho', cursive;
  font: bold;
  color: $color-1;
  text-transform:uppercase;
  font-size: 1.25em;
  display: block;
}

.wrapper {
  width: 25%;
}

.bold-star {
}

ul {
  @include no-bullets;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 1em;
  }
}

h2, h3 {
  font-family: 'Rancho', cursive;
  text-transform: uppercase;
  font-size: 2em;
  margin: .5em 0;
  color: $color-1;
}

.price {
  float: right;
}

.supplemental {
  font-style: italic;
  padding: .25em;
  margin: 1em 0;
}